body{
    background-color: rgb(145, 199, 247);
    font: normal 15pt Arial;
}
header{
    text-align: center;
    font: bold 15pt Arial;
    color: rgb(5, 5, 5);
}
section{
    background-color: rgb(252, 252, 252);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    margin: auto;
    width:500px;
}
div#res{
    text-align: center;
}
footer{
    text-align: center;
    font-style: italic;
}