body{
    background-color: rgb(238, 146, 139);
    font: normal 15pt Arial;
}
header{
    color: antiquewhite;
    font: bold;
    text-align: center;
}
h1{
    font: 14pt;
}
section{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.699);
}
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}
div#res{
    margin: 10px;
    font:normal 12pt arial;
}