
body{
    color: rgb(5, 37, 65);
    background-color: rgb(235, 163, 163);
   }
   h1{
    font:bolder 14pt arial;
    text-align: center;
   }
   section{
    background-color: rgb(196, 197, 212);
    border-radius: 15px;
    padding: 10px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.466);
    width: 500px;
    margin: auto;
   }
   footer{
    text-align: center;
    font: italic 10pt arial;
    font-style: italic;
    margin-top: 10px;

   }
   p{
    font:normal 12pt arial;
   }
   div#Resultado{
    margin-top: 10px;
   }
   
