body{
    background-color: rgb(199, 81, 81);
    font: normal 12pt arial;
}
h1{
    font:bolder 12pt arial;
    text-align: center;
    color: aliceblue;
}
h2{
    font: bolder 12pt arial;
    text-align: center;
}
section{
    background-color: rgba(240, 248, 255, 0.761);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5x 15px rgba(0, 0, 0, 0.841);
    margin: auto;
    width: 500px;
}
footer{
    text-align: center;
    font-style: italic;
    color: aliceblue;
    font: 10pt arial;
    margin-top: 10px;
}
div#res{
    margin-top: 10px;
}
input{
    width: 70px;
}
