body{
    background-color: rgb(61, 79, 121);
    font: normal 15pt Arial;
}
header{
    color: antiquewhite;
    font: bold;
    text-align: center;
}
section{
    background-color: aliceblue;
    border-radius: 20px;
    padding: 20px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.699);
}
footer{
    color: aliceblue;
    text-align: center;
    font-style: italic;
}