body{
    background-color: rgb(83, 83, 83);
    
}
h1{
    font:bold 16pt arial;
    color: aliceblue;
    text-align: center;
}
h2{
    font: normal 14pt arial;
    text-align: center;
}
h3{
    text-align: center;
}
section{
    background-color:rgba(231, 235, 238, 0.596) ;
    padding: 10px;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    
}
footer{
    font-style: italic;
    text-align: center;
    margin-top: 10px;
    color: aliceblue;
}
div#res{
    margin-top: 10px;

}


