body{
    background-color: rgb(192, 223, 252);
    
}
h1{
    font:bold 16pt arial;
    text-align: center;
}
h2{
    font: normal 14pt arial;
}
section{
    background-color:rgba(231, 235, 238, 0.548) ;
    padding: 10px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    
}
footer{
    font-style: italic;
    text-align: center;
    margin-top: 10px;
}
div#res{
    margin-top: 10px;
    font: normal 12pt arial;
   
}
input{
    width: 50px;
}


